In [1]:
import pandas as pd

In [17]:
sozluk = {
    "Kategori": ["Giyim", "Giyim", "Ayakkabı", "Aksesuar", "Ayakkabı", "Giyim", "Aksesuar", "Aksesuar", "Ayakkabı", "Giyim"],
    "Ürün": ["Kazak", "T-shirt", "Sandalet", "Küpe", "Spor Ayakkabı", "Pantolon", "Kolye", "Yüzük", "Çizme", "Ceket"],
    "Fiyat": [300, 180, 450, 50, 700, 400, 150, 80, 850, 900]
}

In [53]:
df = pd.DataFrame(sozluk)
df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [55]:
kategori_2 = df.loc[2, "Kategori"]
kategori_2

'Ayakkabı'

In [57]:
urun_2 = df.loc[2, "Ürün"]
urun_2

'Sandalet'

In [59]:
veriler_4_9 = df.loc[4:9]
veriler_4_9

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [61]:
urunler_1_6 = df.loc[1:6, "Ürün"]
urunler_1_6

1          T-shirt
2         Sandalet
3             Küpe
4    Spor Ayakkabı
5         Pantolon
6            Kolye
Name: Ürün, dtype: object

In [63]:
giyim_urunler = df[df["Kategori"] == "Giyim"]
giyim_urunler

  Kategori      Ürün  Fiyat
0    Giyim     Kazak    300
1    Giyim   T-shirt    180
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [65]:
ayakkabi_urunler = df[df["Kategori"] == "Ayakkabı"]
ayakkabi_urunler

   Kategori           Ürün  Fiyat
2  Ayakkabı       Sandalet    450
4  Ayakkabı  Spor Ayakkabı    700
8  Ayakkabı          Çizme    850

In [67]:
aksesuar_urunler = df[df["Kategori"] == "Aksesuar"]
aksesuar_urunler

   Kategori   Ürün  Fiyat
3  Aksesuar   Küpe     50
6  Aksesuar  Kolye    150
7  Aksesuar  Yüzük     80

In [71]:
giyim_fiyat_300 = df[(df["Kategori"] == "Giyim") & (df["Fiyat"] > 300)]
giyim_fiyat_300

  Kategori      Ürün  Fiyat
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [73]:
ayakkabi_fiyat_600 = df[(df["Kategori"] == "Ayakkabı") & (df["Fiyat"] < 600)]
ayakkabi_fiyat_600

   Kategori      Ürün  Fiyat
2  Ayakkabı  Sandalet    450

In [75]:
aksesuar_fiyat_100 = df[(df["Kategori"] == "Aksesuar") & (df["Fiyat"] > 100)]
aksesuar_fiyat_100

   Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150